logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
data
.DS_Store
.*.swp
._*
.DS_Store
.hg
.lock-wscript
.svn
.wafpickle-*
npm-debug.log
*.csv
*.txt
*.xml
*.zip
*.rar
*.xlsx
*.xls
*.html
*.htm
*.doc
*.docx
*.jpg
*.png
*.gif
*.bmp
*.pdf
*.zip
*.Rhistory